html, body {
  display: block;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: black;
}

canvas {
  display: block;
  background-color: transparent;
  margin: 0;
  padding: 0;
  opacity: 1;
}